<span>Specifications</span>
<ul fxLayout fxLayoutGap="30px" class="navigation-items" color="secondary">
    <li>
        <p>Seats:</p>
        <span class="value">1</span>
    </li>
    <li>
        <p>Length</p>
        <span class="value">4330mm</span>
    </li>
    <li>
        <p>Wing Span</p>
        <span class="value">4850mm</span>
    </li>
    <li>
        <p>Tail Configuration</p>
        <span class="value">Y-tail</span>
    </li>
    <li>
        <p>Tail Height:</p>
        <span class="value">1450mm</span>
    </li>
    <li>
        <p>Tail Width</p>
        <span class="value">1700mm</span>
    </li>
    <li>
        <p>Gear</p>
        <span class="value">Tri-Gear</span>
        <span class="value">Retractable</span>
    </li>
    <li>
        <p>Cockpit Width</p>
        <span class="value">620mm</span>
    </li>
    <li>
        <p>Empty Weight</p>
        <span class="value">105kg</span>
    </li>
    <li>
        <p>Useful Load (average)</p>
        <span class="value">90kg</span>
    </li>
</ul>