<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-dashboard (sidenavToggle)="sidenav.toggle()"></app-dashboard>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <button mat-raised-button color="secondary" (click)="drawer.toggle()">
        specifications
      </button>
      <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
        <button mat-raised-button color="secondary" (click)="sidenav.open()">
          see description
        </button>
      </div>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation" [opened]="screenWidth > 840"
        [mode]="(screenWidth > 840) ? 'side' : 'over'">
        <mat-nav-list>
            <p><span>Skyer</span> is all-electric aircraft and has following features:</p>
          <ul fxLayout fxLayoutGap="30px" class="navigation-items" color="secondary">
            <li>
              <p>vertical takeoff and landing</p>
            </li>
            <li>
              <p>reduced takeoff and landing</p>
            </li>
            <li>
              <p>variable-pitch ducted fan engins</p>
            </li>
            <li>
              <p>electrical main motor-wheels for takeoff acceleration</p>
            </li>
            <li>
              <p>electrical open/close cabin operations</p>
            </li>
            <li>
              <p>electrical adjustment for pilot seat position</p>
            </li>
            <li>
              <p>low drag</p>
            </li>
            <li>
              <p>high long range cruise speed</p>
            </li>
            <li>
              <p>BRS full aircraft recovery system</p>
            </li>
          </ul>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <main>
          <app-showroom></app-showroom>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>