<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
    <app-dashboard (sidenavToggle)="sidenav.toggle()"></app-dashboard>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <span>
        <mat-icon>mood</mat-icon>
      </span>
      <span>Main actions panel</span>

      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- <button mat-icon-button (click)="onToggleSidenav()"> -->
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>

      <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
        <button type="button" md-button (click)="sidenav.open()">
          Toggle sidenav when display is block
        </button>
      </div>

    </mat-toolbar>

    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item>Option 1</button>
      <button mat-menu-item>Option 2</button>
    </mat-menu>

    <mat-card>
      <button mat-button>All</button>
      <button mat-raised-button>Of</button>
      <button mat-raised-button color="primary">The</button>
      <button mat-raised-button color="accent">Buttons</button>
    </mat-card>

    <span class="done">
      <button mat-fab>
        <mat-icon>check circle</mat-icon>
      </button>
    </span>

    <mat-sidenav-container class="sidenav-info">
      <mat-sidenav #sidenav role="navigation" [opened]="screenWidth > 840"
        [mode]="(screenWidth > 840) ? 'side' : 'over'">
        <mat-nav-list>
          <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
              <a routerLink="/owner">Owner Actions</a>
            </li>
            <li>
              <a routerLink="/account">Account Actions</a>
            </li>
          </ul>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <main>
          <app-showroom></app-showroom>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</mat-drawer-container>