mat-drawer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
mat-drawer{
  width: 150px;
  padding: 10px;
}
mat-toolbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 3px;
}
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
  border-bottom: 1px solid #515256;
}
mat-sidenav {
  width: 280px;
}
mat-nav-list{
  padding: 10px;
}
main{
  padding: 10px;
}
.navigation-items{
    list-style-type: square;
    padding: 30px;
    margin: 0;
    color: #517053;
}
.navigation-items:hover{
  color: #619f46;
}

span{
  font-style: italic;
  color: #f8720b;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
